  <!--header starts-->
  <header class="container-fluid">
      <div class="row tophead">
          <div class="col-sm-6 bg-danger  head">
              <a href="" class="link">Shop New Collection</a>
          </div>
          <div class="col-sm-6 bg-primary head">
              <a href="" class="link">Tune in for more</a>
          </div>
      </div>

      <nav class="navbar design row">
          <div class="container-fluid">
              <div class="navbar-header">
                  <a class="navbar-brand link" href="#">Hakuna Matata</a>
              </div>
              <ul class="nav navbar-nav">
                  <li class="nav-item dropdown">
                      <a class="dropdown-toggle link" data-toggle="dropdown" href="#">New</a>

                      <ul class="dropdown-menu">
                          <li>
                              <a href="#" class="link">Fresh Arrivals</a>
                          </li>
                          <li>
                              <a href="#" class="link">Sale on Winter Wear</a>
                          </li>
                          <li>
                              <a href="#" class="link">Happy Shopping</a>
                          </li>

                      </ul>
                  </li>

                  <li class="nav-item dropdown">
                      <a class="dropdown-toggle link" data-toggle="dropdown" href="#">Men</a>
                      <ul class="dropdown-menu">
                          <li>
                              <a href="#" class="link">Ethnic Wear</a>
                          </li>
                          <li>
                              <a href="#" class="link">Casuals</a>
                          </li>
                          <li>
                              <a href="#" class="link">Party Wear</a>
                          </li>
                          <li>
                              <a href="#" class="link">Others</a>
                          </li>
                      </ul>
                  </li>

                  <li class="nav-item dropdown">
                      <a class="dropdown-toggle link" data-toggle="dropdown" href="#">Women</a>
                      <ul class="dropdown-menu">
                          <li>
                              <a href="#" class="link">Ethnic Wear</a>
                          </li>
                          <li>
                              <a href="#" class="link">Casuals</a>
                          </li>
                          <li>
                              <a href="#" class="link">Party Wear</a>
                          </li>
                          <li>
                              <a href="#" class="link">Others</a>
                          </li>

                      </ul>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="dropdown-toggle link" data-toggle="dropdown" href="#">The Gift Shop</a>
                      <ul class="dropdown-menu">
                          <li>
                              <a href="#" class="link">Ethnic Wear</a>
                          </li>
                          <li>
                              <a href="#" class="link">Casuals</a>
                          </li>
                          <li>
                              <a href="#" class="link">Party Wear</a>
                          </li>
                          <li>
                              <a href="#" class="link">Others</a>
                          </li>
                      </ul>
                  </li>

                  <li class="nav-item dropdown">
                      <a class="dropdown-toggle link" data-toggle="dropdown" href="#">Stores</a>
                      <ul class="dropdown-menu">
                          <li>
                              <a href="#" class="link">Ethnic Wear</a>
                          </li>
                          <li>
                              <a href="#" class="link">Casuals</a>
                          </li>
                          <li>
                              <a href="#" class="link">Party Wear</a>
                          </li>
                          <li>
                              <a href="#" class="link">Others</a>
                          </li>
                      </ul>
                  </li>
              </ul>
              <div class="header-right">
                  <a class="sign_up link" href="#">Sign Up</a>
                  <a class="login link" href="#">Login</a>
                  <button class="fasearch">
                      <i class="fa fa-search"></i>
                  </button>
                  <input class="search" type="text" placeholder="Search.." name="search">

              </div>
          </div>
      </nav>
  </header>

  