
<div class="content ">
  <div class="sidebar">
      <ul class="nav">
          <li class="nav-item dropdown">
              <a class="dropdown-toggle link" data-toggle="dropdown" href="#">Categories</a>

              <ul class="dropdown-menu">
                  <li>
                      <a href="#" class="link">Dresses</a>
                  </li>
                  <li>
                      <a href="#" class="link">Tops</a>
                  </li>
                  <li>
                      <a href="#" class="link">Bottoms</a>
                  </li>
                  <li>
                      <a href="#" class="link">Kurtas</a>
                  </li>
              </ul>
          </li>

          <li class="nav-item dropdown">
              <a class="dropdown-toggle link" data-toggle="dropdown" href="#">Price</a>
              <ul class="dropdown-menu">
                  <li class="slidecontainer">
                      <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                  </li>

              </ul>
          </li>

          <li class="nav-item dropdown">
              <a class="dropdown-toggle link" data-toggle="dropdown" href="#">Color</a>

              <ul class="dropdown-menu">
                  <li>
                      <a href="#" class="link">Red</a>
                  </li>
                  <li>
                      <a href="#" class="link">Blue</a>
                  </li>
                  <li>
                      <a href="#" class="link">Black</a>
                  </li>
                  <li>
                      <a href="#" class="link">White</a>
                  </li>
              </ul>
          </li>
          <li class="nav-item dropdown">
              <a class="dropdown-toggle link" data-toggle="dropdown" href="#">Size</a>

              <ul class="dropdown-menu">
                  <li>
                      <a href="#" class="link">XS</a>
                  </li>
                  <li>
                      <a href="#" class="link">S</a>
                  </li>
                  <li>
                      <a href="#" class="link">M</a>
                  </li>
                  <li>
                      <a href="#" class="link">L</a>
                  </li>
                  <li>
                      <a href="#" class="link">XL</a>
                  </li>
              </ul>
          </li>
        </ul>
  </div>

</div>